      body::before {
      content: "";
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;

      background-image: url('../assets/office-background_1.jpg');
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      background-attachment: fixed;

      filter: brightness(0.7);
      z-index: -1;
    }

    .fondo-blanco-titulo {
      background-color: rgba(255, 255, 255, 0.8);
      /* Blanco con 80% de opacidad */
      color: #212529;
      /* Texto oscuro para contraste */
      padding: 10px 20px;
      border-radius: 8px;
      display: inline-block;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    }


    body {
      height: 100vh; /*usando toda la pantalla*/ 
      display: flex;
      justify-content: center;/*centrando horizontal*/
      align-items: center; /*centrando vertical*/
    }

    .bienvenida-container {
      background-color: #ffffff;
      padding: 40px;
      border-radius: 16px;
      text-align: center;
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
      width: 100%;
      max-width: 480px;
    }

    .bienvenida-container h1 {
      font-size: 2.2rem;
      margin-bottom: 20px;
      color: #2564cf; 
    }

    /* Subtítulo*/
    .bienvenida-container p {
      font-size: 1rem;
      margin-bottom: 30px;
      color: #555;
    }